<div class="top">
	<div class="inner">
	<div class="title">
	<ul>
	<li><a href="https://library.buffalo.edu">University Libraries</a></li>
	</ul>
	</div>
	
	
	
	<div class="global-nav">
	<ul>
	<li><a href="https://library.buffalo.edu/findmaterials">Find Materials</a></li>
	<li><a href="https://library.buffalo.edu/use">Using the Libraries</a></li>
	<li><a href="https://library.buffalo.edu/research">Research Help</a></li>
	<li><a href="https://library.buffalo.edu/libraries-collections">Libraries &amp; Collections</a></li>
	<li><a href="https://library.buffalo.edu/aboutus">About Us</a></li>
	<li><a href="https://library.buffalo.edu/askalibrarian">Ask A Librarian</a></li>
	</ul>
	</div>
	
	
	</div>
</div>


<header>
<div class="content-header">

<div class="lib-logo">
<a href="https://buffalo.edu" aria-label="interlocking UB logo"><i class="icon icon-ub-logo"></i>
<span class="ub-logo">University at Buffalo</span>
<img class="logo-black" src="/assets/ub-logo-black.png" alt="University at Buffalo print logo" width="181" height="20"></a>

<div class="title"><h1><a href="/">Archival &amp; Manuscript Collections</a></h1></div> 
</div>

<div class="tasknav">
<a href="/help" class="button green">Help</a>

</div>


<div class="nav-main">


<nav class="nav-global">


	
    <ul>
	<li><div class="touch-btn"></div><a href="/repositories" class="repositories parent">Repositories</a>
    	<ul>
    		<li><a href="/repositories/6" tabindex="-1">Charles B. Sears Law Library</a></li>
			<li><a href="/repositories/7" tabindex="-1">History of Medicine Collection</a></li>
			<li><a href="/repositories/8" tabindex="-1">Rare and Special Books</a></li>
			<li><a href="/repositories/3" tabindex="-1">The Poetry Collection</a></li>
			<li><a href="/repositories/2" tabindex="-1">University Archives</a></li>
    	</ul>
    </li>
    
    <li><a href="/repositories/resources" class="collections parent">Collections</a></li>
    
    <li><a href="/objects?limit=digital_object" class="digital parent" tabindex="-1">Digital Materials</a></li>
	<li><a href="/agents" class="names parent" tabindex="-1">Names</a></li>
	<li><a href="/subjects" class="subjects parent" tabindex="-1" aria-label="Finding Aids Subjects">Subjects</a></li>
    <li><a href="/classifications" class="record parent">UB Record Groups</a></li>
   
   
 

    

</ul>

</nav>


<script src="/assets/responsiveNav.js"></script>


</div>






</header>



<!--
	
	<section id="header">
  <div class="row">
    <div class="col-sm-9">
      <h1>
        <% unless request.original_fullpath == '/' %>
          <a title="<%=t('brand.title_link_text') %>" href="<%= AppConfig[:public_proxy_url] %>">
        <% end %>
        <%= t('brand.title') %>
        <% unless request.original_fullpath == '/' %>
          </a>
        <% end %>
      </h1>
    </div>
    <div class="col-sm-3 hidden-xs"><img class="logo" src="<%= asset_path(AppConfig[:pui_branding_img]) %>" alt="<%= AppConfig[:pui_branding_img_alt_text] %>" /></div>
  </div>
</section>

-->
